<div class="format-actions">
  <button id="bold"
          class="format-action"
          type="button"
          (click)="configureTextAction('bold')"><b>B</b></button>
  <button class="format-action"
          type="button"
          (click)="configureTextAction('italic')"><i>I</i></button>
  <button class="format-action"
          type="button"
          (click)="configureTextAction('underline')"><u>U</u></button>
  <button class="format-action"
          type="button"
          (click)="configureTextAction('h1')">H1</button>
  <button class="format-action"
          type="button"
          (click)="configureTextAction('h2')">H2</button>
  <button class="format-action"
          type="button"
          (click)="configureTextAction('p')"><b>P</b></button>
  <button class="format-action"
          type="button"
          (click)="configureTextAction('indent')"><b>Indent</b></button>
  <button class="format-action"
          type="button"
          (click)="getSynonyms()"><b>Synonym</b></button>
  <button class="format-action"
          type="button"
          (click)="configureTextAction('outdent')"><b>Outdent</b></button>
  <button class="format-action"
          type="button"
          (click)="configureTextAction('insertimage')">Image</button>
  <div class="format-action color-wrapper">
      <button style="background-color: #000"
              (click)="changeFontColor('#000000')"></button>
      <button style="background-color: #ccc"
              (click)="changeFontColor('#cccccc')"></button>
      <button style="background-color: green"
              (click)="changeFontColor('green')"></button>
      <button style="background-color: #CC0F0B"
              (click)="changeFontColor('#CC0F0B')"></button>
  </div>
</div>
