<div class="format-actions">
  <editor-action-btn [actionType]="editorCommandsSet.BOLD"></editor-action-btn>
  <editor-action-btn [actionType]="editorCommandsSet.ITALIC"></editor-action-btn>
  <editor-action-btn [actionType]="editorCommandsSet.UNDERLINE"></editor-action-btn>
  <editor-action-btn [actionType]="editorCommandsSet.SYNONYM"
                     (click)="getSynonyms()"></editor-action-btn>
  <editor-action-btn [actionType]="editorCommandsSet.HEADING1"></editor-action-btn>
  <editor-action-btn [actionType]="editorCommandsSet.HEADING2"></editor-action-btn>
  <editor-action-btn [actionType]="editorCommandsSet.PARAGRAPH"></editor-action-btn>
  <editor-action-btn [actionType]="editorCommandsSet.INDENT"></editor-action-btn>
  <editor-action-btn [actionType]="editorCommandsSet.OUTDENT"></editor-action-btn>
  <editor-action-btn [actionType]="editorCommandsSet.IMAGE"></editor-action-btn>

  <span class="color-palette-wrapper">
    <button id="palette-label">Colors</button>
    <span class="palette">
      <ng-template #colorPaletteContainer></ng-template>
    </span>
  </span>
</div>
<div class="editor-textarea"
     contenteditable>
  {{ text$ | async | stripHtml }}
</div>
